<!DOCTYPE html>
<html>
  <head>
    <title>DC: Denizen Confidant - electronic music online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript">
      window.berlinUrl = "<%= image_url("berlin-rave.png") %>"
      window.logoUrl = "<%= image_url("logo-white.png") %>"
      window.djUrl = "<%= image_url("dj3.png") %>"
      window.edcUrl = "<%= image_url("rave2.png") %>"
      window.transmissionUrl = "<%= image_url("rave.jpg") %>"
      window.redRaveUrl = "<%= image_url("red-rave.png") %>"
      window.berghainUrl = "<%= image_url("berghain.png") %>"
      window.raveNiteUrl = "<%= image_url("rave-nite.png") %>"
      window.tbilisiRaveUrl = "<%= image_url("tbilisi-rave.png") %>"
      window.etherealUrl = "<%= image_url("ethereal-rave.png") %>"
      window.gitUrl = "<%= image_url("gitlogo.png") %>"
      window.linkUrl = "<%= image_url("linkedin.png") %>"
      window.fbUrl = "<%= image_url("fblogo.png") %>"
    </script>
  </body>
</html>
