<!DOCTYPE html>
<html>
  <head>
    <title>DC: Denizen Confidant - electronic music online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <%# <meta name="image" property="og:image" content="https://denizen-confidant.herokuapp.com/assets/main-b19dc25f93d8520152156a65c42da3eec2d3c17eebd75eff11f8cbb0c23ad4f0.png"> %>
    <meta name="image" property="og:image" content="https://denizen-confidant.herokuapp.com/assets/splaash-d2d61bf9dcf86c626de17d760488e6d3618d2fbfa229919b2f050cf529703984.png">
  </head>
  <body>
    <%= yield %>

    <script type="text/javascript">
      window.berlinUrl = "<%= image_url("berlin-rave.png") %>"
      window.logoUrl = "<%= image_url("logo-white.png") %>"
      window.prevUrl = "<%= image_url("previous.png") %>"
      window.djUrl = "<%= image_url("dj3.png") %>"
      window.edcUrl = "<%= image_url("rave2.png") %>"
      window.transmissionUrl = "<%= image_url("rave.jpg") %>"
      window.redRaveUrl = "<%= image_url("red-rave.png") %>"
      window.berghainUrl = "<%= image_url("berghain.png") %>"
      window.raveNiteUrl = "<%= image_url("rave-nite.png") %>"
      window.tbilisiRaveUrl = "<%= image_url("tbilisi-rave.png") %>"
      window.etherealUrl = "<%= image_url("ethereal-rave.png") %>"
      window.gitUrl = "<%= image_url("gitlogo.png") %>"
      window.linkUrl = "<%= image_url("linkedin.png") %>"
      window.angelUrl = "<%= image_url("angellist.png") %>"
      window.fbUrl = "<%= image_url("fblogo.png") %>"
      window.memberUrl = "<%= image_url("member.png") %>"
      window.logoutUrl = "<%= image_url("eject.png") %>"
      window.undergroundUrl = "<%= image_url("underground-rave.png") %>"
      window.raveAccUrl = "<%= image_url("rave-acc.png") %>"
      window.gesaffelsteinUrl = "<%= image_url("gesaffelstein.png") %>"
      window.deadmau5Url = "<%= image_url("deadmau5.png") %>"
      window.kayzoUrl = "<%= image_url("kayzo.png") %>"
      window.nomanaUrl = "<%= image_url("nomana.png") %>"
      window.noisufUrl = "<%= image_url("noisuf.png") %>"
      window.prydzUrl = "<%= image_url("prydz.png") %>"
      window.mainUrl = "<%= image_url("main.png") %>"
      window.edcUrl = "<%= image_url("edc.png") %>"
      window.ezooUrl = "<%= image_url("ezoo.png") %>"
      window.tomorrowlandUrl = "<%= image_url("tomorrowland.png") %>"
      window.ultraUrl = "<%= image_url("ultra.png") %>"
      window.splashUrl = "<%= image_url("splaash.png") %>"
    </script>
  </body>
</html>
