<!DOCTYPE html>
<html>
  <head>
    <title>DC: Denizen Confidant - electronic music online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript">
      window.berlinUrl = "<%= image_url("berlin-rave.png") %>"
      window.logoUrl = "<%= image_url("logo-white.png") %>"
    </script>
  </body>
</html>
